@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables */
:root {
  --background-color: #F6F6F2;
  --primary-light: #F6F6F2;
  --secondary-light: #C2EDCE;
  --main-color: #BADFE7;
  --secondary-dark: #6FB3B8;
  --primary-dark: #388087;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* Text color */
  background-color: var(--background-color); /* Background color */
}

/* Navbar */
/* Navbar container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--primary-light);
}
/* Navbar text */
.nav-container .nav-link {
  color: var(--primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}
.nav-container .nav-link:hover {
  color: var(--secondary-light);
}
.logo {
  color: var(--primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}